<body>
  <link rel="stylesheet" href="/style.css">

<div class='menu' align='right'>

<a href="/">
<img src='/images/makers_logo.png' class="logo" align="left"></img>
</a>
  <ul>
    <li>
      <form action = '/spaces'>
        <input type="submit" value="Spaces">
      </form>
    </li>
    <li>
      <form class='active' action = '/requests'>
        <input type="submit" value="Requests">
      </form>
    </li>
    <li>
      <form action = '/sessions' method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Logout">
      </form>
    </li>
  </ul>
</div>

<h1>Requests</h1>
<table>
  <tr>
    <th>Requests I've made</th>
    <th>Requests I've received</th>
  </tr>
  <tr>
    <td id="requests_made"><% @requests_made.each do |request| %>
      <div id="request_made_<%= request.space.name %>">
        <%= request.space.name %>
        <%= request.booking_date %>
        <%= request.confirmation_status %>
      </div>
    <% end %>
    </td>
    <td id="requests_received"><% @requests_received.each do |request| %>
      <div id="request_received_<%= request.space.name %>">
        <%= request.space.name %>
        <%= request.booking_date %>
        <% if @clicked_id != request.id %>
          <form id="confirm_deny" action="/requests/<%= request.id %>" method="post">
            <button type="submit" value="Confirmed" name="status">Confirm</button>
            <button type="submit" value="Rejected" name="status">Reject</button>
          </form>
        <% end %>
      </div>
    <% end %>
    </td>
  </tr>
</table>

</body>
