<body>

<div class='requests'>

<table id='requests_table'>
  <h1>Requests</h1>
  <tr>
    <th>Requests I've made</th>
    <th>Requests I've received</th>
  </tr>
  <tr>
    <td id="requests_made"><% @requests_made.each do |request| %>
      <div id="request_made_<%= request.space.name %>">
        <%= request.space.name %>
        <%= request.start_date %>
        <%= request.nights %>
        <%= request.confirmation_status %>
      </div>

    <% end %>
    <div class='no_request'>
    <% if @request_made.nil? %>
    No current requests made
    <% end %>
    </div>
    </td>
    <td id="requests_received"><% @requests_received.each do |request| %>
      <div id="request_received_<%= request.space.name %>">
        <%= request.space.name %>
        <%= request.start_date %>
        <%= request.nights %>
        <% if request.confirmation_status == 'Awaiting confirmation' %>
          <form id="confirm_deny" action="/requests/<%= request.id %>" method="post">
            <button type="submit" value="Confirmed" name="status">Confirm</button>
            <button type="submit" value="Rejected" name="status">Reject</button>
          </form>
        <% else %>
          <%= request.confirmation_status %>
        <% end %>
    <% end %>
    <% if @request_received.nil? %>
    <div class='no_request'>
    No current requests received
    <% end %>
    </div>
      </div>
    </td>
  </tr>
</table>
</div>

</body>
