
<h1>Requests</h1>
<table>
  <tr>
    <th>Requests I've made</th>
    <th>Requests I've received</th>
  </tr>
  <tr>
    <td id="requests_made"><% @requests_made.each do |request| %>
      <div id="request_made_<%= request.space.name %>">
        <%= request.space.name %>
        <%= request.start_date %>
        <%= request.nights %>
        <%= request.confirmation_status %>
      </div>
    <% end %>
    </td>
    <td id="requests_received"><% @requests_received.each do |request| %>
      <div id="request_received_<%= request.space.name %>">
        <%= request.space.name %>
        <%= request.start_date %>
        <%= request.nights %>
        <% if request.confirmation_status == 'Awaiting confirmation' %>
          <form id="confirm_deny" action="/requests/<%= request.id %>" method="post">
            <button type="submit" value="Confirmed" name="status">Confirm</button>
            <button type="submit" value="Rejected" name="status">Reject</button>
          </form>
        <% else %>
          <%= request.confirmation_status %>
        <% end %>
      </div>
    <% end %>
    </td>
  </tr>
</table>

</body>
