<body>
  <link rel="stylesheet" href="/style.css">
  <div class='menu' align='right'>
    <a href="/">
      <img src='/images/makers_logo.png' class="logo" align="left"></img>
    </a>
    <ul>
      <li>
        <form class='active' action = '/spaces'>
          <input type="submit" value="Spaces">
        </form>
      </li>
      <li>
        <form action = '/requests'>
          <input type="submit" value="Requests">
        </form>
      </li>
      <li>
        <form action = '/sessions' method="post">
          <input type="hidden" name="_method" value="delete">
          <input type="submit" value="Logout">
        </form>
      </li>
    </ul>
  </div>

<h2>Welcome <%= @user.name %>!</h2>


<h1> Book a space </h1>
<form action="/spaces/new">
  <input type="submit" id="list_a_space" value="List a Space"></input>
</form>

<div class='spaces'>
  <% @spaces.each do |space|%>
    <a href="/spaces/<%= space.id %>">
      <p name="name"><%= space.name %><span id="id"><%= space.id %></span></p>
    </a>
    <p><%= space.description %></p>
    <p>£<%= space.price %></p>
  <% end %>
<div>
