

  <h1 align="center"> <%= @space.name %> </h1>

  <form action='/requests' method="post">
    <input type="hidden" name="id" value="<%= @space.id %>">

    <div style="align: center">
      <%= erb :calendar %>
    </div>

    <input type="text" value="<%= Time.new.year %>-<%= Time.new.month %>-<%= Time.new.day %>" id="input_from" class="picker__input picker__input--active" name="start_date">
    <!-- <input type="text" name="nights" value="1"> -->

        <select name="nights" id='nights'>
          <option selected='selected' value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
        </select>

    <input type="submit" value="Request to Book">
  </form>


  <script>
    var $input = $('#input_from').pickadate()
    var picker = $input.pickadate('picker')
    picker.set('select', true)
    picker.set('min', true);
    // picker.set('disable', [
    //   [2018,10,8],
    //   [2018,10,9],
    //   { from: [2018, 10, 13], to: [2018, 10, 18] }
    //
    // ])
  </script>
</body>
