<body>
  <link rel="stylesheet" href="/style.css">
  <div class='menu' align='right'>
    <a href="/">
      <img src='/images/makers_logo.png' class="logo" align="left"></img>
    </a>
    <ul>
      <li>
        <form id="logout_button" action = '/sessions' method="post">
          <input type="hidden" name="_method" value="delete">
          <input id="l_button" type="submit" value="LOGOUT">
        </form>
      </li>
      <li>
        <form id="spaces_button" class='active' action = '/spaces'>
          <input id="s_button" type="submit" value="SPACES">
        </form>
      </li>
      <li>
        <form id="requests_button" action = '/requests'>
          <input id="r_button" type="submit" value="REQUESTS">
        </form>
      </li>
    </ul>
  </div>

<h2>Welcome <%= @user.name %>!</h2>

<h1> Book a space </h1>
<form action="/spaces/new">
  <input type="submit" id="list_a_space" value="List a Space"></input>
</form>


<div class='spaces'>
  <% @spaces.each do |space|%>
    <a href="/spaces/<%= space.id %>"><%= space.name %></a>
    <p><%= space.description %></p>
    <p>£<%= space.price %></p>
  <% end %>
<div>
